<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <h2 class="h3 mb-3 fw-normal">Sign in</h2>
    <div *ngIf="loginFailed" class="alert alert-danger">
      <span>{{loginFailureDescription}}</span>
    </div>

    <input formControlName="username" type="username" class="form-control" placeholder="Email" required>
  
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
