.workDayName {
    padding-right: 15px; 
    margin-bottom: 0;
    width: 100px;
}

.workDayInputBlock {
    margin-bottom: 15px;
}

.helpButtons {
    width: 160px;
}

button {
    margin: 5px;
}

/* #addCoffeeShop .modal-content {
    width: 900px;
    margin: auto;
} */